.no-products-cart{
    color: coral;
    font-size: 20px;
}
.cart-products li{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 lightblue;
    padding: 10px;
}
.cart-heading{
    text-align: center;
}
.cart-products li .name{
    font-weight: bold;
}
.cart-products li div img{
    height: 50px;
}
.cart-products{
    padding-right: 100px;
}