.header{
    height: 70px;
    width: 100%;
    background: cornflowerblue;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.header-btn{
    background-color: #fff;
    color: cornflowerblue;
    border: solid 1px cornflowerblue;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.header h1 a{
    text-decoration: none;
    color: #fff;
}