body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul li{
  list-style-type: none;
}

.buy-btn{
  margin-top: 10px;
  width: 100px;
  margin-top: 10px;
  width: 250px;
}
.product-btn{    
  background-color: cornflowerblue;
  color: #fff;
  border: solid 1px cornflowerblue;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.paddingTop-30{
  padding-top: 30px;
}